.page {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 48px [header-s content-s footer-s] auto [header-e content-e footer-e] 48px;
  grid-template-rows: 28px [header] auto 56px [content] 92px [footer] 24px;
  max-width: 1280px;
  min-width: 320px;
  padding: 0;
  margin: 0 auto;
  background-color: #2A2C2F;
  font-family: Inter, sans-serif;
}

@media screen and (max-width: 1279px) {
  .page {
    grid-template-columns: 0 [content-s] 48px [header-s footer-s] auto [header-e footer-e] 48px [content-e] 0;
    grid-template-rows: 28px [header] auto 48px [content] 92px [footer] 24px;
  }
}

@media screen and (max-width: 1023px) {
  .page {
    grid-template-columns: 0 [content-s] 24px [header-s footer-s] auto [header-e footer-e] 24px [content-e] 0;
    grid-template-rows: 28px [header] auto 48px [content] 88px [footer] 24px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    grid-template-columns: 0 [content-s] 16px [header-s footer-s] auto [header-e footer-e] 16px [content-e] 0;
    grid-template-rows: 16px [header] auto 48px [content] 64px [footer] 24px;
  }
}
