.photo-grid {
  grid-column: l0 / r0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: 14px
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-column: l24 / r24;
    gap: 16px;
  }
}

@media screen and (max-width: 720px) {
  .photo-grid {
    grid-column: l16 / r16;
    gap: 12px;
  }
}
