.place__image {
  width: 100%;
  object-fit: cover;
  grid-column: place-image-s / place-image-e;
  /*width: 460px;*/
  /*min-width: 460px;*/
  /*max-width: 460px;*/

}
/*
@media screen and (max-width: 1024px){
  .place__image {
    max-width: 440px;
    min-width: 340px;
    width: 100%;
  }
}

@media screen and (max-width: 768px){
  .place__image {
    !*max-width: 340px;*!
    max-width: 320px;
  }
}

@media screen and (max-width: 708px){
  .place__image {
    !*max-width: 320px;*!
  }
}*/
