.lead {
  grid-column: l100 / r100;
}

@media screen and (max-width: 1024px) {
  .lead {
    grid-column: l48 / r48;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    grid-column: l0 / r0;
  }
}
