.main-container {
  display: grid;
  grid-template-columns: 48px [header-s content-s footer-s] auto [header-e content-e footer-e] 48px;
  grid-template-rows: 28px [header] auto 56px [content] auto 92px [footer] auto 24px;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .main-container {
    grid-template-columns: 0 [content-s] 48px [header-s footer-s] auto [header-e footer-e] 48px [content-e] 0;
    grid-template-rows: 28px [header] auto 48px [content] auto 92px [footer] auto 24px;
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    grid-template-columns: 0 [content-s] 24px [header-s footer-s] auto [header-e footer-e] 24px [content-e] 0;
    grid-template-rows: 28px [header] auto 48px [content] auto 88px [footer] auto 24px;
  }
}

@media screen and (max-width: 720px) {
  .main-container {
    grid-template-columns: 0 [content-s] 16px [header-s footer-s] auto [header-e footer-e] 16px [content-e] 0;
    grid-template-rows: 16px [header] auto 48px [content] auto 64px [footer] auto 24px;
  }
}
