.cover__title {
  max-width: 560px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
}

@media screen and (max-width: 720px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}

