.place__website-url-heading {
  padding: 0;
  margin: 0;
  color: #AAA;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .place__website-url-heading {
    line-height: 1;
  }
}
